.container{
    background-color: #eaf2fd;
}

.formulario{
    width: 90%;
    margin: 3rem 5%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    
}

.alura{
    display: flex;
}

.alura__texto{
    padding: 0.3rem 0 0 0.5rem;

}

.sobre__nosotros{
    display: flex;
    flex-direction: column;
}

.nosotros__titulos{
    color: #464646;
    font-family: Raleway;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;
    padding: 0.5rem 0;
    text-decoration: none;
}

.formulario__contacto{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 40%;
}

#contacto__titulo{
    color: #464646;
    font-family: Raleway;
    font-weight:bold;
    font-size: 16px;
    line-height: 19px;
    line-height: 100%;

}

.form__input{
    font-family: Raleway;
    font-size: 0.8rem;
    width: 15rem;
    margin: 0.5rem 0;
    border: none;
    border-bottom: 1px solid #c8c8c8;
    padding: 0.2rem 100% 1rem 0.2rem;
}

.mensaje_btn{
    background-color: #2a7ae4;
    color: white;
    font-family: Raleway;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    height: 3.1875rem;
    width: 9rem;
}


